.nav-wrapper {
  margin: 0 auto;
  padding: 0;
  font-size: 0.4rem;
  width: 6rem;

  p {
    padding: 0.2rem 0;
    font-size: 0.3rem;
  }
  
  .title {
    margin-right: 0.2rem;
    text-transform: uppercase;
    font-size: 0.5rem;
    font-weight: bold;
  }
  
  ul {
    list-style-type: none;
  }
  
  a {
    font-weight: bold;
    font-size: 0.3rem;
    color: #2c3e50;
  }
  
  a.router-link-exact-active {
    color: #42b983;
  }
}

.m-back {
  display: block;
  margin: 0.2rem;
  font-size: 0.3rem;
  text-decoration: none;
}

.m-example {
  margin: 0.2rem;
  padding-bottom: 0.4rem;
  font-size: 0.4rem;
  border-bottom: 1px solid #ccc;

  p {
    padding-bottom: 0.2rem;
  }
  
  img {
    width: 100%;
    height: auto;
  }
  
  .m-tag {
    margin-right: 0.5rem;
  }  
}
