.nav-wrapper {
  margin: 0 auto;
  padding: 0;
  font-size: 0.4rem;
  width: 6rem;
}

.nav-wrapper p {
  padding: 0.2rem 0;
  font-size: 0.3rem;
}

.nav-wrapper .title {
  margin-right: 0.2rem;
  text-transform: uppercase;
  font-size: 0.5rem;
  font-weight: bold;
}

.nav-wrapper ul {
  list-style-type: none;
}

.nav-wrapper a {
  font-weight: bold;
  font-size: 0.3rem;
  color: #2c3e50;
}

.nav-wrapper a.router-link-exact-active {
  color: #42b983;
}

.m-back {
  display: block;
  margin: 0.2rem;
  font-size: 0.3rem;
  text-decoration: none;
}

.m-example {
  margin: 0.2rem;
  padding-bottom: 0.4rem;
  font-size: 0.4rem;
  border-bottom: 1px solid #ccc;
}

.m-example p {
  padding-bottom: 0.2rem;
}

.m-example img {
  width: 100%;
  height: auto;
}

.m-example .m-tag {
  margin-right: 0.5rem;
}
