// global style variables
$color-primary: #2196F3;
$color-text-highlight: $color-primary;
$border-width-base: 2px;

$font-body-large: 28px;
$font-body-normal: 26px;
$font-caption-large: 36px;
$font-caption-normal: 32px;
$font-minor-large: 24px;
$font-minor-normal: 20px;
$font-weight-normal: 400;
$font-weight-medium: 500;

$color-border-base: #E2E4EA;
$color-border-element: #E0E0E0;
$color-text-base: #263238;
$color-text-base-inverse: #FFF;
$color-text-error: #F44336;
$color-text-minor: #666f83;
$color-text-caption: #858B9C;
$color-bg-base: #F9FAFB;
$color-text-body: #41485D;
$color-text-disabled: #E0E0E0;
$color-bg-inverse: #FFF;
$color-bg-disabled: #E2E4EA;
$color-bg-tap: #F9FAFB;
$color-mask: rgba(37, 38, 45, 0.7);

$opacity-disabled: 0.3;

$radius-normal: 4Px; // pxtorem ignore
$radius-circle: 50%;

$agree-fill: $color-primary;
$agree-disabled-opacity: $opacity-disabled;

$checkbox-color: $color-text-base;
$checkbox-font-size: $font-caption-normal;
$checkbox-disabled-color: $color-text-disabled;
$checkbox-active-color: $color-primary;
$checkbox-active-border-color: $color-primary;
$checkbox-border-color: $color-border-element;
$checkbox-border-radius: $radius-normal;

$result-page-image-size: 320px;
$result-page-title-font-size: $font-caption-normal;
$result-page-describe-font-size: $font-body-large;
$result-page-title-color: $color-text-base;
$result-page-describe-color: $color-text-caption;

$h-gap-xs: 8px;
$h-gap-sm: 12px;
$h-gap-md: 20px;
$h-gap-lg: 32px;
$h-gap-sl: 40px;
$v-gap-xs: $h-gap-xs;
$v-gap-sm: $h-gap-sm;
$v-gap-md: $h-gap-md;
$v-gap-lg: $h-gap-lg;
$v-gap-sl: $h-gap-sl;

$ease-in-out-quint: cubic-bezier(.86, 0, .07, 1);

$action-sheet-height: 100px;
$action-sheet-padding-h: $h-gap-sl;
$action-sheet-color: $color-text-body;
$action-sheet-color-highlight: $color-primary;
$action-sheet-color-cancel: $color-text-minor;
$action-sheet-font-size: $font-caption-normal;
$action-sheet-bg: $color-bg-inverse;
$action-sheet-disabled-opacity: $opacity-disabled;
$action-sheet-cancel-gap-bg: $color-bg-base;
$action-sheet-zindex: 911;

$button-primary-fill: $color-primary;
$button-default-fill: $color-bg-inverse;
$button-disabled-fill: $color-bg-disabled;
$button-warning-fill: $color-text-error;
$button-primary-active-fill: #2A78DC;
$button-default-active-fill: $color-bg-base;
$button-warning-active-fill: #E9424F;
$button-primary-plain-active-fill: #EAF2FE;
$button-default-plain-active-fill: $color-bg-base;
$button-warning-plain-active-fill: #FAC3C6;
$button-default-color: $color-text-body;
$button-primary-color: $color-text-base-inverse;
$button-disabled-color: $color-text-base-inverse;
$button-warning-color: $color-text-base-inverse;
$button-default-plain-color: $button-default-color;
$button-primary-plain-color: $button-primary-fill;
$button-warning-plain-color: $button-warning-fill;
$button-disabled-plain-color: $color-text-disabled;
$button-height: 100px;
$button-font-size: $font-caption-large;
$button-font-weight: $font-weight-medium;
$button-small-height: 64px;
$button-small-font-size: $font-body-large;
$button-radius: $radius-normal;

$action-bar-width: 100%;
$action-bar-height: 100px;
$action-bar-padding-v: $v-gap-md;
$action-bar-padding-h: $h-gap-sl;
$action-bar-button-gap: 22px;
$action-bar-slot-height: $button-height;
$action-bar-zindex: 100;

$chart-line-color: #CCC;
$chart-path-color: $color-primary;
$chart-text-color: $color-text-minor;
$chart-label-size: 22px;
$chart-value-size: 20px;

$landscape-width: 540px;
$landscape-fullscreen-bg: $color-bg-inverse;
$landscape-zindex: 960;

$tag-color: $color-primary;
$tag-fillet-radius: 2px;
$tag-large-font-size: $font-body-normal;
$tag-small-font-size: $font-minor-normal;
$tag-tiny-font-size: 12px;

$popup-title-bar-bg: $color-bg-inverse;
$popup-title-bar-height: 120px;
$popup-title-bar-height-large: 180px;
$popup-title-bar-radius: 8px;
$popup-title-bar-radius-large: 40px;
$popup-title-bar-font-size-button: $font-caption-large;
$popup-title-bar-font-weight-button: $font-weight-medium;
$popup-title-bar-font-size-title: 40px;
$popup-title-bar-font-size-describe: $font-body-large;
$popup-title-bar-color-title: $color-text-base;
$popup-title-bar-color-describe: $color-text-caption;
$popup-title-bar-color-button-left: $color-text-minor;
$popup-title-bar-color-button-right: $color-text-highlight;
$popup-mask-bg: $color-mask;
$popup-zindex: 900;

$font-family-normal: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei",Arial,sans-serif;
$font-family-number: $font-family-normal;
$icon-font-family: url(/src/assets/fonts/iconfont.woff) format("woff"), url(/src/assets/fonts/iconfont.ttf) format("truetype");
$amount-font-family: url(/src/assets/fonts/DINPro-Medium.ttf) format("truetype");

$switch-fill: $color-primary;
$switch-fill-inverse: $color-bg-disabled;
$switch-handle-color: #FFF;
$switch-item-color-disabled: $opacity-disabled;

$tab-font-size: $font-body-large;
$tab-font-weight: $font-weight-medium;
$tab-text-color: $color-text-minor;
$tab-active-color: $color-primary;
$tab-disabled-color: $color-text-disabled;
$tab-bg: $color-bg-base;
$tab-height: 100px;
$tab-ink-height: 3px;
$tab-offset: $h-gap-sl;
$tab-item-gap: $h-gap-md;

$toast-fill: rgba(65, 72, 93, .77);
$toast-font-size: $font-body-large;
$toast-color: #FFF;
$toast-radius: $radius-normal;
$toast-padding: 20px 30px;
$toast-zindex: 970;
